<!DOCTYPE html>
<html>
<body>
<h2>Place Order</h2>
<form method="POST" action="/">
    <label>Select Restaurant:</label>
    <select name="restaurant_id" required>
        {% for r in restaurants %}
            <option value="{{ r.id }}">{{ r.name }}</option>
        {% endfor %}
    </select>

    <input type="text" name="name" placeholder="Full Name" required>
    <input type="text" name="phone" placeholder="Phone" required>
    <input type="text" name="address" placeholder="Address" required>

    <div id="cart-items-hidden"></div>
    <button type="submit">Place Order</button>
</form>


</form>
</body>
</html>
