@app.route("/get-latest-otp")
def get_latest_otp():
    if "customer_id" not in session:
        return jsonify({"otp": ""})

    order = (Order.query
             .filter(Order.customer_id == session["customer_id"])
             .order_by(Order.id.desc())
             .first())

    if order and order.otp:
        return jsonify({"otp": order.otp})

    return jsonify({"otp": ""})

<script>
async function loadHomeOtp(){
    try{
        const res = await fetch("/get-latest-otp");
        const data = await res.json();

        if(data.otp && data.order_id){

            document.getElementById("homeOtp").innerText = data.otp;
            document.getElementById("homeOrderId").innerText = data.order_id;

            document.getElementById("homeTrackCard").style.display = "block";

        } else {
            document.getElementById("homeTrackCard").style.display = "none";
        }

    }catch(e){
        console.log(e);
    }
}

function goToTrack(){
    window.location.href = "{{ url_for('myorders') }}";
}

document.addEventListener("DOMContentLoaded", loadHomeOtp);
</script>
{% if session.get('customer_id') %}


<div class="home-track-card" id="homeTrackCard">
    <div class="home-order-id">
    Order ID: <span id="homeOrderId">--</span>
</div>
    <div class="track-left">
        <h4>🧾 Your Order OTP</h4>
        <div class="home-otp" id="homeOtp">----</div>
    </div>

    <div class="track-right">
        <button class="track-btn" onclick="goToTrack()">Track Order</button>
    </div>
</div>

{% endif %}






